@import "../components/colors";

div[data-container-open='.stm_lms_edit_account'] {
    display: none;
    padding-bottom: 50px;
}

.stm_lms_edit_account {
    .stm_lms_user_info_top {
        padding: 0 0 40px;
        margin: 0 0 60px;
    }
    .form-group {
        margin: 0 0 35px;
        label {
            margin: 0 0 10px;
            text-transform: uppercase;
            font-size: 12px;
        }
        textarea {
            padding: 15px 20px !important;
        }
    }
}

.stm_lms_private_information {
    padding-bottom: 50px;
}

.stm_lms_edit_socials {
    margin: 50px 0 0;
    h3 {
        margin: 0 0 15px;
    }
    .form-group {
        position: relative;
        &-social {
            position: relative;
            input {
                padding-left: 45px !important;
                background-color: #fff;
                border: 2px solid transparent;
                border-radius: 2px;
                &:focus {
                    border-color: $main_color;
                    + i {
                        &.fa-facebook-f {
                            color: #3b5998;
                        }
                        &.fa-twitter {
                            color: #1da1f2;
                        }
                        &.fa-instagram {
                            color: #fb3958;
                        }
                        &.fa-google-plus-g {
                            color: #db4437;
                        }
                    }
                }
            }
            i.fab {
                position: absolute;
                top: 14px;
                left: 15px;
                font-size: 18px;
                color: #aaa;
                transition: .3s ease;
            }
        }
    }
    &_list {
        padding: 40px;
        margin: 0 0 40px;
        background-color: #eef1f7;
    }
}