@import "../components/colors";
@import "../components/mixins";

#stm_lms_manage_course {
    position: relative;
    /*Uneditable places*/
    .stm-lms-course-info__single_enrolled,
    .stm-lms-course-info__single_lectures,
    .stm_lms_course__panel_rate,
    .meta-unit.teacher,
    .stm-lms-wishlist {
        opacity: 0.3;
    }
    .stm_metaboxes_grid {
        .stm_metaboxes_grid__inner {
            .stm-curriculum {
                .stm-curriculum-list {
                    .stm-curriculum-single {
                        background: #f1f1f1;
                    }
                }
                &.loading {
                    .stm_lms_curriculum_box,
                    .stm-curriculum-list {
                        opacity: 0.3;
                    }
                    &:after {
                        display: none;
                    }
                    &:before {
                        top: 50%;
                        left: 50%;
                    }
                }
            }
        }
    }
    .form-group {
        margin-bottom: 30px;
        label {
            display: block;
            h4 {
                margin-bottom: 5px;
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
    &.loading {
        opacity: 0.5;
        &:before {
            position: fixed;
            top: 30%;
        }
    }
    .stm-lms-icon-add {
        &:before {
            font-family: "Font Awesome 5 Free";
            content: "\f055";
            position: absolute;
            right: 0;
            top: 0;
            background: #fff;
            border-radius: 50%;
            font-weight: 900;
            z-index: 9999;
        }
    }
}

.stm_lms_manage_course_price,
.stm_lms_manage_course {
    position: relative;
    .stm_lms_phantom {
        opacity: 0.5;
    }
    &__form {
        position: absolute;
        left: -3px;
        right: -3px;
        min-width: 300px;
        top: 100%;
        visibility: hidden;
        opacity: 0;
        margin-top: 3px;
        z-index: 9999999;
    }
    &__plus {
        display: none;
        cursor: pointer;
        color: $main_color;
        i {
            font-size: 30px;
        }
    }
    &__add {
        background-color: #fff;
        padding: 30px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }
    .form-control {
        &:focus {
            border-color: $main_color !important;
        }
    }
    &.active {
        .stm_lms_manage_course__form {
            opacity: 1;
            visibility: visible;
        }
    }
    &__text {
        &:hover {
            outline: 2px dashed rgba(0, 0, 0, 0.1);
        }
    }
}

.stm_lms_manage_course__sidebar {
    min-height: 300px;
    margin-bottom: 30px;
    background: #e1e2e4;
}

.stm_lms_manage_course__image {
    position: relative;
    min-height: 420px;
    cursor: pointer;
    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        cursor: pointer;
        opacity: 0;
    }
    img {
        vertical-align: top;
    }
    &_empty {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border: 2px dashed rgba(0, 0, 0, 0.1);
        i.lnr-upload {
            margin-bottom: 30px;
            display: block;
            width: 100%;
            font-size: 40px;
            text-align: center;
            color: $main_color;
        }
    }
    &.filled {
        .stm_lms_manage_course__image_empty {
            background-color: rgba(0, 0, 0, 0.3);
            border-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: .3s ease;
            > * {
                color: #fff;
            }
        }
        &:hover {
            .stm_lms_manage_course__image_empty {
                opacity: 1;
            }
        }
    }
    &.loading {
        &:before {
            top: 50%;
            margin-top: -18px;
        }
        .stm_lms_manage_course__image_empty {
            > * {
                opacity: 0;
            }
        }
    }
}

#stm_lms_manage_course {
    margin-bottom: 50px;
}

.stm_lms_manage_course__editor {
    .mce-tinymce {
        iframe {
            width: 99% !important;
        }
        .mce-statusbar,
        #mceu_54,
        #mceu_17 {
            display: none;
        }
    }
}

.mce-tinymce {
    div.mce-toolbar-grp {
        background: #f0f4fa;
        border-bottom: 0;
    }
    .mce-edit-area {
        border: 1px solid #e1e2e4 !important;
        border-top: 0 !important;
    }
}

.stm_lms_manage_course_price {
    &:hover {
        outline: 2px dashed rgba(0, 0, 0, 0.1);
    }
    .btn {
        flex-wrap: wrap;
        &:after {
            display: none !important;
        }
    }
}

html.locked {
    overflow: hidden;
    padding-right: 15px;
    #header {
        z-index: -1;
    }
}

.stm_lms_item_modal {
    position: fixed;
    top: 5vh;
    left: 25vw;
    width: 50vw;
    height: 80vh;
    max-height: 80vh;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999999999;
    &.opened {
        opacity: 1;
        visibility: visible;
    }
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        z-index: 9999999999;
        &.opened {
            opacity: 1;
            visibility: visible;
        }
    }
    &__inner {
        padding: 15px 30px;
        &.loading {
            &:before {
                top: 40% !important;
            }
            > * {
                opacity: 0.5;
            }
        }
        .form-group-combine {
            select,
            input {
                display: inline-block;
                width: auto;
            }
            input {
                margin-right: 15px;
            }
        }
        .mce-edit-area {
            iframe {
                height: calc(80vh - 310px) !important;
                border-bottom: 1px solid #c5c5c5;
            }
        }
        .stm-curriculum-questions {
            .lnr-pencil {
                display: none !important;
            }
            label.stm_lms_radio {
                input {
                    margin-right: 8px;
                }
                span {
                    position: relative;
                    top: 4px;
                }
            }
            .stm-lms-questions-single_answer {
                input[type="text"] {
                    opacity: 1;
                    margin-left: 16px !important;
                    border: 1px solid #bfbfbf !important;
                    background: #fff !important;
                }
            }
            .stm_lms_answers_container__input:before {
                top: 12px;
                line-height: 15px;
            }
        }
        .stm_lms_question_box {
            //background: #f1f1f1;
        }
    }
    &__bottom {
        position: fixed;
        height: 10vh;
        width: 50vw;
        bottom: 5vh;
        left: 25vw;
        padding: 0 30px 0;
        background: #fff;
        border-top: 1px solid #eee;
        box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.08);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn {
            padding: 11px 15px 10px !important;
            font-size: 12px;
            &:last-child {
                background: #999 !important;
                color: #fff;
            }
        }
    }
    .stm-lms-questions-true_false {
        span {
            top: 1px !important;
        }
    }
}

.stm_lms_manage_course__actions {
    margin: 50px 0 0;
}

.gump-error-message {
    display: block;
}

.stm_lms_wizard {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transition: .3s ease;
    z-index: 99999999;
    &.inactive {
        transform: translateY(100%);
        .stm_lms_wizard__close {
            top: -40px;
            transition: top .3s .3s ease, transform .3s ease;
            &:hover {
                transform: translateY(-5px);
            }
        }
    }
    &__close {
        position: absolute;
        right: 20px;
        top: -14px;
        width: 32px;
        height: 32px;
        background: #fff;
        border: 4px solid #004ec4;
        border-radius: 50%;
        text-align: center;
        color: #273044;
        line-height: 24px;
        transition: .3s ease;
        cursor: pointer;
    }
    &__inner {
        .stm-lms-lesson_navigation {
            border-top: 5px solid #004ec4;
            margin-top: 0;
            padding: 40px 100px;
            box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.2),inset 0px 5px 0px 0px rgba(0, 78, 196, 0.004);
            h2 {
                margin-bottom: 0;
                font-size: 24px;
                font-weight: 600;
            }
            h5 {
                margin: 0 0 2px;
                font-size: 12px;
                text-transform: uppercase;
            }
            a {
                i {
                    width: 54px;
                    height: 54px;
                    background: #004ec4;
                    border-color: #004ec4;
                    font-family: "Font Awesome 5 Free" !important;
                    font-weight: 600 !important;
                    color: #fff;
                    font-size: 35px;
                    line-height: 50px;
                    text-indent: 0;
                }
                span {
                    color: #273044;
                }
                span.stm_lms_section_text {
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 400;
                }
                span:not(.stm_lms_section_text) {
                    font-size: 18px;
                    font-weight: 400;
                }
            }
            &_prev {
                a {
                    i {
                        &:before {
                            content: "\f060" !important;
                        }
                    }
                }
            }
            &_next {
                a {
                    i {
                        text-indent: 2px;
                        &:before {
                            content: "\f061" !important;
                        }
                    }
                }
            }
        }
    }
    &__hint {
        position: absolute;
        top: 400px;
        left: -100px;
        padding: 35px 40px 25px 40px;
        max-width: 330px;
        background: #004ec4;
        box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        opacity: 1;
        visibility: visible;
        transition: all .3s ease;
        z-index: 999999;
        &.removed {
            transform: translateX(-50px);
            opacity: 0;
            visibility: hidden;
        }
        &.inactive {
            transform: translateY(-100px);
            visibility: hidden;
            opacity: 0;
        }
        > * {
            color: #fff;
        }
        .h5 {
            margin: 0 0 5px;
            font-size: 12px;
            text-transform: uppercase;
        }
        .h2 {
            margin: 0;
            font-size: 20px;
            line-height: 28px;
            font-weight: 600;
        }
        &_arr {
            position: absolute;
            top: -158px;
            right: 0;
            width: 155px;
            height: 158px;
            //background: rgba(0,0,0,.5);
            overflow: hidden;
            &:before {
                content: '';
                position: absolute;
                top: -2px;
                left: 0;
                display: block;
                width: 400px;
                height: 400px;
                border-radius: 50%;
                border: 5px dashed #004ec4;
                transform: rotate(1deg);
                transform-origin: top left;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                background: #004ec4;
            }
        }
    }
}

@include breakpoint(1750px) {
    .stm_lms_wizard__hint {
        &[class*="step_"] {
            margin-left: 300px;
            margin-top: 50px;
            .stm_lms_wizard__hint_arr {
                right: auto;
                left: 0;
                transform: scale(-1, 1);
            }
        }
        &.step_7,
        &.step_6,
        &.step_5,
        &.step_4 {
            margin-top: 38px;
        }
    }
}

@include breakpoint(768px) {
    .stm_lms_wizard,
    .stm_lms_wizard__hint {
        display: none !important;
    }
}