@font-face {
  font-family: 'stmlms';
  src:  url('fonts/stmlms.eot?98x1zj');
  src:  url('fonts/stmlms.eot?98x1zj#iefix') format('embedded-opentype'),
    url('fonts/stmlms.ttf?98x1zj') format('truetype'),
    url('fonts/stmlms.woff?98x1zj') format('woff'),
    url('fonts/stmlms.svg?98x1zj#stmlms') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="stmlms-"], [class*=" stmlms-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'stmlms' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stmlms-text:before {
  content: "\e90b";
}
.stmlms-slides:before {
  content: "\e90c";
}
.stmlms-quiz:before {
  content: "\e90d";
}
.stmlms-qanda:before {
  content: "\e900";
}
.stmlms-lms-clocks:before {
  content: "\e901";
}
.stmlms-cats:before {
  content: "\e902";
}
.stmlms-level:before {
  content: "\e903";
}
.stmlms-hamburger:before {
  content: "\e904";
}
.stmlms-calendar:before {
  content: "\e905";
}
.stmlms-screen:before {
  content: "\e906";
}
.stmlms-world:before {
  content: "\e907";
}
.stmlms-user:before {
  content: "\e908";
}
.stmlms-case:before {
  content: "\e909";
}
.stmlms-horn:before {
  content: "\e90a";
}